.table {
  display: table;
}
.col {
  width: 20vw;
}
.row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.title {
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
.title .data {
  flex-grow: 1;
}

.title .btn {
  display: none;
}
.row:hover .btn {
  display: inline;
}

.DGControlPanel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(236, 235, 235);
  font-size: 1.5rem;
  align-items: center;
}
